metPropagate_dir/integration filter=lfs diff=lfs merge=lfs -text
metPropagate_dir/METABOLOMIC_PROCESSING_PIPELINE filter=lfs diff=lfs merge=lfs -text
metPropagate_dir/integration/graph_files filter=lfs diff=lfs merge=lfs -text
metPropagate_dir/METABOLOMIC_PROCESSING_PIPELINE/HMDB_ver4_gene_metabolite_annotations.csv filter=lfs diff=lfs merge=lfs -text
metPropagate_dir/integration/graph_files/string_db_percent_of_fn_in_hmdb_weight.csv filter=lfs diff=lfs merge=lfs -text
metPropagate_dir/integration/graph_files/STRING_graph_file_v11_functional_entire_db.txt filter=lfs diff=lfs merge=lfs -text
metPropagate_dir/integration/graph_files/STRING_graph_file_v11_gene_list_functional_entire_db.txt filter=lfs diff=lfs merge=lfs -text
metPropagate_dir/integration/graph_files/STRING_graph_file_v11_gene_to_nodeid_mapping_functional_entire_db.txt filter=lfs diff=lfs merge=lfs -text
metPropagate_dir/ filter=lfs diff=lfs merge=lfs -text
data/metabolome filter=lfs diff=lfs merge=lfs -text
data/metabolome_HMDB filter=lfs diff=lfs merge=lfs -text
data/metabolome_identifier filter=lfs diff=lfs merge=lfs -text
data/metabolome_identifier.json filter=lfs diff=lfs merge=lfs -text
data/methylome filter=lfs diff=lfs merge=lfs -text
data/proteome filter=lfs diff=lfs merge=lfs -text
data/transcriptome filter=lfs diff=lfs merge=lfs -text
data/Merged_clinical_subgroups_concat.tsv filter=lfs diff=lfs merge=lfs -text
GO_basic/goa_human.gaf.filt filter=lfs diff=lfs merge=lfs -text
GO_basic/GO_tree.tsv filter=lfs diff=lfs merge=lfs -text
