params {
        kFold = 2
        label = "PH_EOSI_B_300"
        metPropagate_dir = "$baseDir/metPropagate_dir"
        metPropagate_STRING_dir = "$baseDir/metPropagate_dir/integration/graph_files/"
        clinical = "$baseDir/data/Merged_clinical_subgroups_concat.tsv"
        proteome = "$baseDir/data/proteome"
        metabolome = "$baseDir/data/metabolome"
        metabolome_identifier = "$baseDir/data/metabolome_identifier"
        transcriptome = "$baseDir/data/transcriptome"
        network = "$baseDir/data/PPI_human.tsv"
        methylome = "$baseDir/data/methylome"
        GO_graph = "$baseDir/GO_basic/GO_tree.tsv"
        GO_gene2GO = "$baseDir/GO_basic/goa_human.gaf.filt"


        publish_dir = "test"

        k_DAM = 100
        pval = 0.05
        corrCut = 0.3
        K = 150
}
docker {
    enabled = true
    runOptions = '-u \$(id -u):\$(id -g)'
}
